* {
	box-sizing: border-box;
	margin: 0;
	border: none;
	outline: none;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	background-color: rgb(64, 64, 64);
}
canvas {
	display: block;
	object-fit: contain;
	height: 100%;
	width: 100%;
    image-rendering: pixelated;
}